.out
{
  transform:translateX(0%);
}
.hamburger {
  display: block;
}
@media (max-width: 768px) {
  .in {
    transform: translateX(-100%);
  }
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
